<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
  <script src="https://unpkg.com/vue@next"></script>
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <h1>{{titulo}}</h1>
		<p 
    class="bg-dark"
    :class="[cantidad > 500 ? 'text-success' : 'text-danger']"
    :style="{'font-size': '50px'}"
		>
    	Mi saldo disponible es: {{cantidad}}
	</p>
    <!--<p>cantidad : {{cantidad}}</p>-->
    <p>{{cantidad>= 1000 ? "Es mayor o igual a mil" : "Es menor que mil"}}</p>

    <a v-bind:href="enlace ">ir a google</a>

    <h2 v-if="estado">Cuenta activa</h2>
    <h2 v-else>Cuenta Desactivada</h2>

    <!--<h2 v-if="cantidad > 500">Cantidad: {{cantidad}}</h2>
    <h2 v-else-if="cantidad = 500"> 
      Cantidad: 
      <span style="color:red">{{cantidad}}</span>
    </h2>
    <h2 v-else>Sin cantidad: {{cantidad}}</h2>-->

    <hr>
  <h2>Servicios disponibles:</h2>
  <ul>
      <li v-for="item in servicios">{{item}}</li>
  </ul>

  <ul>
      <li v-for="(item, index) in servicios" :key="index">
          {{index + 1}} - {{item}}
      </li>
  </ul>
	<h2>Mi saldo disponible es: {{cantidad}}</h2>

<button @click="agregarSaldo">Agregar Saldo</button>
<button @click="disminuirSaldo" :disabled="desactivar">Disminuir Saldo</button>

  </div>
  <script src ="main.js"></script>
  <script>
    const mountedApp = app.mount('#app');
  </script>
</html>